@model Zen.Data.Models.ShoppingCart

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Product Title
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total Price
            </th>
            <th>
                Created On
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<div>
    <h3>Cart Sumamry</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignDiscount) : 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CampaignDiscount) ₺
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CouponDiscount) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CouponDiscount) ₺
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryCost) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryCost) ₺
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CartTotalAfterDiscounts) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CartTotalAfterDiscounts) ₺
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CartTotal) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CartTotal) ₺
        </dd>
    </dl>
</div>
