@using Zen.Data.Enums;
@model Zen.Data.Entities.Campaign;

@{
    ViewData["Title"] = "Campaign - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountAmount)
        </dt>
        @switch (Model.DiscountType)
        {
            case DiscountType.Rate:
                <dd class="col-sm-10">
                    % @Html.DisplayFor(model => model.DiscountAmount)
                </dd>
                break;
            case DiscountType.Amount:
            default:
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DiscountAmount) ₺
                </dd>
                break;
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiscountType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MinItemCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinItemCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>